body {
  background: white;
}

h1 {
  width: auto;
  background: #0085c6;
  padding: 2px;
  border-radius: 10px;
  border: solid 6px #00458d;
  color: white;
  font-size: 25px;
  text-align: center;
}

#myWord {
  width: auto;
  background: white;
  padding: 2px;
  border-radius: 10px;
  border: solid 5px #dadada;
  color: rgb(49, 51, 223);
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

h2 {
  color: rgb(49, 51, 223);
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

#score {
  width: auto;
  background: #00458d;
  padding: 2px;
  border-radius: 10px;
  border: solid 5px #0085c6;
  color: white;
  font-size: 20px;
  text-align: center;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background: rgb(72 213 187);
  display: block;
  border: solid 5px #0085c6;
  border-radius: 10px;
}

#restartButton {
  width: 100px;
  margin-left: 30px;
}

#restartButton:hover {
  transform: scale(1.1);
}

#playButton {
  width: 100px;
  margin-left: 30px;
  margin-top: 30px;
  display: block;
}

#playButton:hover {
  transform: scale(1.1);
}

.catchMe {
  text-align: center;
}

#players {
  width: auto;
  background: white;
  padding: 5px;
  border-radius: 10px;
  border: solid 5px #dadada;
  color: darkgrey;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#looser {
  width: auto;
  background: white;
  padding-bottom: 10px;
  border-radius: 10px;
  border: solid 5px #dadada;
  color: darkgrey;
  font-size: 20px;
  text-align: center;
}

button,
.joinButton {
  background: #00458d;
  border-radius: 5px;
  border: solid 5px #0085c6;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
  font-family: "Times New Roman";
}

.inputForm {
  border-radius: 5px;
  border: solid 5px #0085c6;
  color: rgb(49, 51, 223);
  font-size: 20px;
  padding: 5px;
  margin-top: 5px;
  font-family: "Times New Roman";
}

#looser > p {
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 10px;
}

#waitingBox {
  display: "";
}

#playersConnected {
  display: none;
}
